:root {
    --rs-theme-1: #064635;
    --rs-theme-2: #F8CA38;
    --rs-common-white: #fff;
    --rs-common-black: #000;
    --rs-body: #687179;
    --rs-title: #010F1C;
    --rs-black-bg: rgba(1, 15, 28, 0.8);
    --rs-smoke: #F2F5C2;
    --rs-border: #E6E6E6;
    --rs-gray: #d1d1d1;
    --rs-yellow: #FFC700;












}