@use '../../utils' as *;

/*----------------------------------------*/
/*  44. FOOTER CSS START
/*----------------------------------------*/

.rs_footer {
    &_logo {
        margin-bottom: 30px;

        a {
            color: var(--tp-common-white);
            font-size: 25px;
            font-weight: 800;
        }
    }

    &_widget {
        &_content {
            p {
                font-family: var(--rs-ff-roboto);
                font-size: 16px;
                color: var(--rs-common-white);
            }



        }
    }

    &_social {
        list-style: none;

        li {
            display: inline-block;
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            background: var(--rs-common-white);
            color: var(--rs-theme-1);
            border-radius: 50%;
            margin-right: 10px;

            &:hover {
                background: var(--rs-theme-1);
                color: var(--rs-theme-2);

            }
        }
    }

    &_widget {
        &_title {
            position: relative;
            font-family: var(--rs-ff-Signika);
            color: var(--rs-common-white);
            font-size: 24px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 0;

        }

        &_content {
            ul {
                li {
                    list-style: none;
                    margin-bottom: 17px;
                    line-height: 1;
                    color: var(--rs-common-white);
                    position: relative;
                    font-family: var(--rs-ff-roboto);
                    font-size: 16px;

                    &::before {
                        position: absolute;
                        content: "\f054";
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        font-family: fontawesome;
                        font-size: 14px;
                    }

                    a {
                        padding-left: 14px;
                    }

                }
            }
        }
    }
}


.rs_footer {
    _widget {
        &_line {
            span {
                width: 44px;
                height: 2px;
                background: var(--rs-theme-2);
                display: inline-block;
                margin-right: 3px;

                &:nth-child(2) {
                    width: 10px;

                }

                &:nth-child(3) {
                    width: 5px;

                }
            }
        }
    }

    &_input_group {
        position: relative;

        .rs_footer_input {
            height: 51px;
            line-height: 51px;

            &::placeholder {
                color: var(--rs-body);

            }

        }

    }

    &_button {
        position: absolute;
        right: 5px;
        top: 5px;
        background: var(--rs-theme-1);
        color: var(--rs-common-white);
        height: calc(100% - 10px);
        padding: 5px 20px;
    }

    &_location {
        color: var(--rs-common-white);
        font-size: 16px;
        display: inline-block;

        i {
            margin-right: 8px;
        }
    }

    &_widget_payment {
        ul {
            list-style: none;

            li {
                background: #fff;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
                padding: 2px 11px;
            }
        }
    }
}

.rs_btn_primary.rs_footer_button {
    border-radius: 0;
}



.footer-col {
    &-2 {
        @media #{$lg} {
            padding-left: 60px;
        }

    }

    &-3 {
        padding-left: 30px;

        @media #{$md} {
            padding-left: 15px;
        }

        @media #{$xs} {
            padding-left: 0;
        }
    }

    &-4 {
        padding-left: 60px;

        @media #{$lg, $md, $xs} {
            padding-left: 0;
        }

        @media #{$xl} {
            padding-left: 20px;
        }

    }
}








.rs_footer_copyright p {
    color: var(--rs-common-white);

    a {
        color: var(--rs-theme-2);

    }

    @media #{$sm, $xs} {
        margin-bottom: 20px;
    }
}


.rs_footer_link {
    ul {
        li {
            list-style: none;
            display: inline-block;
            position: relative;

            a {
                color: var(--rs-common-white);
            }

            &:not(:first-child) {
                margin-left: 8px;
                padding-left: 10px;


                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: var(--rs-common-white);
                    width: 2px;
                    height: 100%;
                }
            }
        }
    }
}

.rs_footer_bottom.pt-25 {
    background: rgba(32, 32, 32, 0.80);
}