@use '../../utils' as *;

/*----------------------------------------*/
/*  30. contact CSS START
/*----------------------------------------*/

.rs_contact {
    &_title {
        span {
            color: var(--rs-theme-2);
        }
    }

    &_inner {
        background: #F4F4F4;
    }

    &_form {
        padding: 45px;
    }
}



.rs_contact_form input,
.rs_contact_form textarea {
    background: #fff;
    padding-right: 50px;
}

.rs_form_group {
    margin-bottom: 30px;
    position: relative;

    i {
        position: absolute;
        right: 25px;
        top: 35%;
    }

    textarea::placeholder {
        color: var(--rs-body);
        opacity: 1;
    }

    textarea::focus {
        opacity: 0;

    }
}