@use '../../utils' as *;

/*----------------------------------------*/
/*  30. hero CSS START
/*----------------------------------------*/

.rs_hero {
    &_sub_title {
        display: inline-block;
        color: var(--rs-common-white);
        font-family: var(--rs-ff-roboto);
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 30px;

        @media #{$md} {
            font-size: 18px;

        }

        img {
            width: 48px;
            height: 48px;
            margin-right: 5px;
            margin-top: -25px;

            @media #{$md} {
                width: 35px;
                height: 35px;

            }
        }
    }

    &_title {
        color: var(--rs-common-white);
        font-family: Signika;
        font-family: var(--rs-ff-Signika);
        font-size: 74px;
        font-weight: 700;
        line-height: 1.13;

        @media #{$md} {
            font-size: 48px;

        }

        @media #{$xs} {
            font-size: 60px;

        }

        @media #{$xsx} {
            font-size: 40px;

        }
    }

    &_content {
        position: relative;
        z-index: 2;
    }

    &_bg {
        position: absolute;
        top: 0;
        pointer-events: none;
        z-index: 1;
    }

    &_img {
        position: relative;
        z-index: 5;
        transform: translateX(40px);

        @media #{$xxxl} {
            transform: translateX(20px);
        }

        @media #{$xxl} {
            transform: translateX(0px);
        }

        @media #{$xl} {
            transform: translateX(60px);
        }

        @media #{$lg} {
            transform: translateX(0);
        }

        @media #{$md} {
            transform: translateX(15px);
        }

        @media #{$xs} {
            transform: translateX(0);
        }

        &>img {
            max-width: 100%;
        }
    }

    &_offer {
        width: 151px;
        height: 151px;
        background: var(--rs-theme-1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        border: 2px dashed var(--rs-common-white);
        outline: 15px solid var(--rs-theme-1);

        @media #{$xl} {
            right: 50px;
        }

        @media #{$md} {
            width: 100px;
            height: 100px;
        }

        @media #{$xs} {

            width: 130px;
            height: 130px;
            right: 70px;


        }

        span {
            font-size: 40px;
            font-weight: 800;
            color: var(--rs-common-white);
            font-family: (--rs-ff-roboto);
            display: inline-block;
            line-height: 1;
            text-align: center;

            @media #{$md} {
                font-size: 30px;
            }
        }



    }

    &_content_left {
        width: 186px;
        display: flex;
        justify-content: space-between;
        transform: rotate(90deg);
        position: absolute;
        left: -140px;
        top: 50%;

        @media #{$xxl} {
            left: -130px;
        }

        @media #{$xl} {
            display: none;
        }
    }

}



.bg-img {
    background-size: cover;
    background-position: center center;

    @media #{$xl, $lg} {
        background-position: left;

    }
}





.rs_hero-shape {
    &_1 {
        width: unset;
        position: absolute;
        bottom: 100px;
        left: 0;
    }

    &_2 {
        position: absolute;
        left: 0;
        bottom: 15px;
    }

    &_3 {
        position: absolute;
        right: -80px;
        bottom: -25px;

        @media #{$xl} {
            left: 140px;
            bottom: -100px;
        }

        @media #{$lg} {
            left: 140px;
            bottom: -100px;
        }
    }

    &_4 {
        position: absolute;
        left: 50%;
        bottom: 50px;
    }

    &_5 {
        position: absolute;
        bottom: 160px;
        right: 3%;
    }

}